.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: var(--color-inactive-light);
  height: 100%;
}

.questionOuterContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: relative;
}

.levelsListContainer {
  display: flex;
  flex-direction: column;
  flex-basis: 20vw;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--color-light);
  padding: 8px 0;
}

.mobLevelsListContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background: var(--color-inactive-light);
}

@media (max-width: 768px) {
  .levelsListContainer {
    padding: 64px 0 24px;
  }
}
