.btn {
  display: inline-block;
  font-family: var(--font-family);
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-btn-text);
  text-align: center;
  padding: 1.2rem 2.4rem;
  min-width: 29.6rem;
  height: 6.4rem;
  width: auto;
  border: 1px solid transparent;
  border-radius: 1.2rem;
  background-color: var(--color-btn);
  cursor: pointer;
  transition: var(--transition);
  position: relative;
}

.btn:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-btn-text);
}

.btn:active {
  background-color: var(--color-btn-active);
  color: var(--color-btn-text);
}

@media (max-width: 768px) {
  .btn {
    min-width: auto;
    width: 100%;
    height: 4.8rem;
    padding: 0.6rem 1.2rem;
    font-size: 2.45rem;
  }
}
