.answersList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.8rem;
  width: min(84rem, 90%);
}

@media (max-width: 1200px) {
  .answersList {
    row-gap: 0.8rem;
  }
}

@media (max-width: 768px) {
  .answersList {
    justify-content: center;
    width: 100%;
  }
}
