.answersList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2.8rem;
  width: min(84rem, 100%);
}

@media (max-width: 1360px) {
  .answersList {
    row-gap: 0.8rem;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .answersList {
    justify-content: center;
  }
}
