.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 3.2rem;
  padding: 4.8rem 1.6rem;
  background: var(--color-inactive-light);
}

.half {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}

@media (max-width: 768px) {
  .container {
    align-items: stretch;
    gap: 5.6rem;
  }

  .half {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
  }

  .half:first-child {
    justify-content: flex-end;
    align-items: center;
  }
}
