.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  height: 100%;
  padding: 48px 16px;
  background: var(--color-inactive-light);
}

.half {
  display: flex;
  flex-direction: column;
  flex-basis: 35%;
}

@media (max-width: 1024px) {
  .container {
    align-items: stretch;
    gap: 56px;
  }

  .half {
    flex-basis: 100%;
    flex-grow: 1;
    justify-content: space-between;
    text-align: center;
  }

  .half:first-child {
    justify-content: flex-end;
    align-items: center;
  }
}
