.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.h1 {
  font-size: 9rem;
  line-height: 10rem;
  margin-bottom: 2rem;
}

.h4 {
  margin-bottom: 2rem;
}

.details {
  margin: 2rem 0 4rem;
  cursor: pointer;
}

.pre {
  padding: 2rem;
}

.p {
  margin: 0 0 4rem;
}
