:root {
  --color-primary: #ff8b37;
  --color-primary-light: #fff3eb;
  --color-primary-dark: #e87928;
  --color-text: #1c1c21;
  --color-btn-text: #ffffff;
  --color-btn: var(--color-primary);
  --color-btn-active: var(--color-primary-dark);
  --color-btn-hover: #ffac70;
  --color-success: #47d867;
  --color-success-light: #e6faea;
  --color-error: #ec6259;
  --color-error-light: #fdeeed;
  --color-inactive: #d0d0d8;
  --color-inactive-light: #f5f5f7;
  --color-light: #ffffff;
  --font-family: 'Inter', sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --transition: all 300ms ease;
  --min-height: min(100%, 100vh);
  --correct-answer-animation: setCorrectAnswer 2s ease-out 0s forwards;
  --wrong-answer-animation: setWrongAnswer 2s ease-out 0s forwards;
  --answer-text-animation: fadeIn .35s ease-out 0s forwards;
  --level-transition: background 0.5s ease-out, color 0.5 ease-out;
  --question-animation: fadeIn .2s ease-out 0s forwards;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  min-height: var(--min-height);
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--color-text);
  background: var(--color-inactive-light);
  font-family: var(--font-family);
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  display: flex;
  flex-direction: column;
  min-height: var(--min-height);
}

h1 {
  font-size: 5.6rem;
  line-height: 6.5rem;
}

h4 {
  font-size: 3.2rem;
  line-height: 3.7rem;
}

@keyframes setCorrectAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }
}

@keyframes setWrongAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 3840px) {
  html {
    font-size: 25px;
  }
}

@media (min-width: 2048px) {
  html {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2.8rem;
    line-height: 3.3rem;
  }

  h4 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.2rem;
    line-height: 3.7rem;
  }

  h4 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
}
