.answerItem {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  cursor: pointer;
  width: min(42rem, 50%);
  height: auto;
}

.answerBgImage {
  stroke: var(--color-inactive);
  fill: var(--color-light);
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.answerText {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-text);
  font-size: 2rem;
  font-weight: var(--font-weight-regular);
  padding-right: 4rem;
  text-align: left;
  hyphens: auto;
  word-break: break-word;
  visibility: hidden;
  animation: var(--answer-text-animation);
}

.answerVariantLetter {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  align-self: center;
}

.answerItem:not(.active):focus .answerBgImage {
  stroke: var(--color-primary);
  fill: var(--color-light);
}

.active .answerBgImage {
  stroke: var(--color-primary);
  fill: var(--color-primary-light);
}

.correct .answerBgImage {
  animation: var(--correct-answer-animation);
}

.active.correct .answerBgImage {
  animation: var(--correct-active-answer-animation);
}

.active.wrong .answerBgImage {
  animation: var(--wrong-answer-animation);
}

@media (hover: hover) {
  .answerItem:not(.active):hover .answerBgImage {
    stroke: var(--color-primary);
    fill: var(--color-light);
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .answerText,
  .answerVariantLetter {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .answerText,
  .answerVariantLetter {
    font-size: 1.4rem;
  }
}

@media (max-width: 580px) {
  .answerItem {
    width: 38rem;
  }
}

@media (max-width: 380px) {
  .answerItem {
    width: 100%;
  }
}
