.answerItem {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  position: relative;
  display: flex;
  cursor: pointer;
  width: min(42rem, 50%);
  height: auto;
}

.answerBgImage {
  stroke: var(--color-inactive);
  fill: var(--color-light);
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.answerText {
  display: flex;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-text);
  font-size: 2rem;
  font-weight: var(--font-weight-regular);
  padding-right: 4rem;
  text-align: left;
  hyphens: auto;
  word-break: break-word;
}

.answerVariantLetter {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
  align-self: center;
}

.answerItem:focus .answerBgImage {
  stroke: var(--color-primary);
  fill: var(--color-light);
}

.active .answerBgImage {
  stroke: var(--color-primary);
  fill: var(--color-primary-light);
}

.correct .answerBgImage {
  animation: setCorrectAnswer 2s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.wrong .answerBgImage {
  animation: setWrongAnswer 2s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes setCorrectAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }
}

@keyframes setWrongAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }
}

@media (hover: hover) {
  .answerItem:hover .answerBgImage,
  .answerItem.active:hover .answerBgImage {
    stroke: var(--color-primary);
    fill: var(--color-light);
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .answerText,
  .answerVariantLetter {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .answerText,
  .answerVariantLetter {
    font-size: 1.4rem;
  }
}

@media (max-width: 580px) {
  .answerItem {
    width: 38rem;
  }
}

@media (max-width: 380px) {
  .answerItem {
    width: 100%;
  }
}
