.answerItem {
  position: relative;
  display: flex;
  cursor: pointer;
  width: 405px;
  height: auto;
}

.answerBgImage {
  stroke: var(--color-inactive);
  fill: var(--color-light);
  transition: var(--transition);
  width: 100%;
  height: auto;
}

.answerText {
  display: flex;
  gap: 8px;
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--color-text);
  font-size: 2rem;
  font-weight: var(--font-weight-regular);
}

.answerVariantLetter {
  color: var(--color-primary);
  font-size: 2rem;
  font-weight: var(--font-weight-bold);
}

.active .answerBgImage {
  stroke: var(--color-primary);
  fill: var(--color-primary-light);
}

.correct .answerBgImage {
  animation: setCorrectAnswer 2s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.wrong .answerBgImage {
  animation: setWrongAnswer 2s ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@media (hover: hover) {
  .answerItem:hover .answerBgImage {
    stroke: var(--color-primary);
    fill: var(--color-light);
  }

  .answerItem.active:hover .answerBgImage {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  .answerItem.correct:hover .answerBgImage {
    animation: setCorrectAnswer 2s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .answerItem.wrong:hover .answerBgImage {
    animation: setWrongAnswer 2s ease-out;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
}

@keyframes setCorrectAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-success);
    fill: var(--color-success-light);
  }
}

@keyframes setWrongAnswer {
  0% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  60% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  70% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }

  85% {
    stroke: var(--color-primary);
    fill: var(--color-primary-light);
  }

  100% {
    stroke: var(--color-error);
    fill: var(--color-error-light);
  }
}

@media (max-width: 768px) {
  .answerItem {
    width: 380px;
  }

  .answerText {
    font-size: 2.45rem;
  }

  .answerVariantLetter {
    font-size: 2.45rem;
  }
}

@media (max-width: 380px) {
  .answerItem {
    width: 100%;
  }
}
